/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');
@import url('./badges.css');

.input-container {
  display: flex;
  justify-content: flex-start;
  min-width: 320px;
  max-width: 375px;
  gap: 8px;
  margin: 0 0 32px 156px;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
  margin: 0 0 0 156px;
}
.input-date {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
  margin-top: 36px;
}

.input-field {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover {
  border: 1px solid #000;
}

.input-field:focus {
  border: 1px solid #4e75ff;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 346px;
  height: 72px;
}

.value {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-style: normal;
  font-weight: 400;
}

.label {
  color: #2e2f42;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.start-btn {
  width: 75px;
  height: 40px;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #6c8cff;
}

.start-btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}
#datetime-picker {
  width: 272px;
  height: 40px;
  padding: 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #fafafa;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.25s ease;
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

.flatpickr-calendar {
  background: #f5f5f5 !important;
}

.flatpickr-day.today {
  border-color: #4e75ff !important;
}

.flatpickr-time .flatpickr-minute {
  font-weight: bold !important;
}

.flatpickr-current-month {
  color: var(--Light-Primary, #333) !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.flatpickr-weekdays {
  text-align: center !important;
}

.flatpickr-weekday {
  color: #2e2f42 !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.custom-toast .iziToast-icon i {
  font-size: 24px !important;
}

.iziToast-close {
  background-image: url('https://github.com/HannaAssaf/goit-js-hw-10/blob/main/src/img/bi_x-lg.svg') !important;
  width: 16px;
  height: 16px;
  background-size: 24px 24px;
}
/* ************************************************************************************* */
/* SNACKBAR */

.form {
  width: 360px;
  margin-left: 156px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 36px;
  margin-bottom: 8px;
}

.input-delay {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-delay:hover {
  border: 1px solid #000;
}

.input-delay:focus {
  border: 1px solid #4e75ff;
}

.form-fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 360px;
  height: 64px;
  margin: 0px 0px 24px 0px;
  padding: 0px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  display: flex;
  gap: 24px;
  border: 1px solid #808080;
}

.form-fieldset:hover {
  border: 1px solid #000;
}

.form-fieldset:focus {
  border: 1px solid #000;
}
.form-fieldset legend {
  margin-left: 24px;
  text-align: left;
}

.form-fieldset label {
  flex: 1;
  text-align: center;
}

.radio-btn {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  padding-left: 48px;
}
.form-label-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-radio {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 20px;
  height: 20px;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  background: #4e75ff;
}

.btn-submit:hover {
  background: #6c8cff;
}

.iziToast {
  width: 383px !important;
  border-radius: 4px !important;
}

.iziToast-message {
  font-size: 18px !important;
}
